<figure>
    <img class="titolo" src="assets/foto/profilo.jpg" alt="fotoPlayers"/>
    <div class="overlay flex-center rgba-blue-light">
    </div>
</figure>
<div class="container justify-content-center contenitore mb-4">
    <h1 class="text-center fw-bold display-1 text-white margine">Generatore PGN</h1>
    <div class="text-center mb-5">
        <h2> AVVERSARI </h2>
        <div>
            <div *ngIf = "!guest" class="mb-4">
                <label class="mx-3">Il tuo colore è: </label>
                <input title="colore" type="radio" [(ngModel)]="colore" name="colore" value="bianco" class="form-check-input border-primary">Bianco
                <input title="colore" type="radio" [(ngModel)]="colore" name="colore" value="nero" class="form-check-input border-primary">Nero
            </div>
            <div class="text-center modulo-form">
                <div *ngIf = "colore == 'bianco' && !guest" class="row justify-content-center">
                    <div class="mb-4">
                        <p class="p-0 m-0"><label class="form-label ">BIANCO: </label></p>
                        <input title="nomeBianco" class="form-control-sm" [(ngModel)] = "io" [disabled] = true>
                    </div>
                    <div>
                        <p class="p-0 m-0"><label class="form-label">NERO:  </label></p>
                        <input title="nomeNero" class="form-control-sm" [(ngModel)] = "avversario">
                    </div>

                </div>
                <div *ngIf = "colore == 'nero' && !guest" class="row">

                    <div class="mb-4">
                        <p class="p-0 m-0"><label class="form-label ">BIANCO: </label></p>
                        <input title="nomeBianco" class="form-control-sm" [(ngModel)] = "avversario">
                    </div>
                    <div>
                        <p class="p-0 m-0"><label class="form-label">NERO:  </label></p>
                        <input title="nomeNero" class="form-control-sm" [(ngModel)] = "io" [disabled] = true>
                    </div>

                </div>
                <div *ngIf = "guest" class="row justify-content-center">
                    <div class="mb-4">
                        <p class="p-0 m-0"><label class="form-label ">BIANCO: </label></p>
                        <input title="nomeBianco" class="form-control-sm" [(ngModel)] = "io">
                    </div>
                    <div>
                        <p class="p-0 m-0"><label class="form-label">NERO:  </label></p>
                        <input title="nomeNero" class="form-control-sm" [(ngModel)] = "avversario">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-4">
        <h2>TORNEO</h2>
        <div>
            <label class="mx-3">Partita appartenente ad un torneo?</label>
            <input title="torneo" type="radio" [(ngModel)]="appartieneTorneo" name="torneo" value="1">SI
            <input title="torneo" type="radio" [(ngModel)]="appartieneTorneo" name="torneo" value="0">NO
        </div>
        <div *ngIf="appartieneTorneo == '1'" class="mt-4">
            <div class="mb-4">
                <p class="p-0 m-0">NOME: </p>
                <input class="form-control-sm" [(ngModel)]="nomeTorneo" id="nomeTorneo" title="Nome Torneo">
            </div>
            <div class="mb-4">
                <p class="p-0 m-0">DATA: </p>
                <input class="form-control-sm" type="date" [(ngModel)]="dataTorneo" id="dataTorneo" title="Data Torneo">
            </div>
            <div class="mb-4">
                <p class="p-0 m-0">LUOGO: </p>
                <input class="form-control-sm" [(ngModel)]="luogoTorneo" id="luogoTorneo" title="Luogo Torneo">
            </div>
            <div class="mb-4">
                <p class="p-0 m-0">TURNO: </p>
                <input class="form-control-sm" type = "number" [(ngModel)]="turno" id="numeroTurno" title="Turno">
            </div>

        </div>
    </div>
    <div class="text-center mb-4">
        <h2> PARTITA </h2>

        <p>RISULTATO
        <select class="form-control-sm" [(ngModel)]="risultato" [disabled]="positionEnded" id="risultato" title="Risultato">
            <option value="0"> </option>
            <option value="1"> 1-0 </option>
            <option value="2"> 0-1 </option>
            <option value="3"> 1/2 - 1/2 </option>
        </select>
        </p>
    </div>
    <div class="text-center row justify-content-around">
        <div class="text-center mt-4 mb-4 col-xl-2">
            <label for="commentArea">Commenti</label>
            <div class="mb-3">
                <textarea class="form-control" [(ngModel)]="commentoAttuale" id="commentArea" placeholder="Inserisci un commento alla mossa corrente"></textarea>
            </div>
            <div class="row">
                <button class="btn btn-success col mx-1" (click)="salvaCommento()">Salva Commento</button>
                <button class="btn btn-danger col" (click)="cancellaCommento()">Cancella Commento</button>
            </div>
        </div>

        <div class="col-xl-4 text-center mb-4">
            <div id=board></div>
        </div>
        <div id="formulario" class="col-xl-2 mb-4">
            <div class="row justify-content-center">
                <div class="col text-center colonne">Turno</div>
                <div class="col text-center colonne">Bianco</div>
                <div class="col text-center colonne">Nero</div>
            </div>
            <div style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
                <div *ngFor="let mossa of mosse" class="row justify-content-center">
                    <div class="riga col text-center">{{mossa[0]}}</div>
                    <div class="riga col text-center">{{mossa[1]}}</div>
                    <div class="riga col text-center">{{mossa[2]}}</div>
                </div>
            </div>
        </div>

    </div>
    <div class="text-center mt-4">
        <button class="btn btn-secondary" (click)="undoMove()">Cancella Mossa</button>
    </div>

    <div class="text-center mt-3">
        <button class="btn btn-primary" (click)="scaricaPGN()">Scarica PGN</button>
    </div>

    <div *ngIf="!guest" class="text-center mt-3">
        <button class="btn btn-primary" (click)="salvaPartita()">Salva Partita</button>
    </div>

</div>
