<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link active" href="#">ChessHub</a>
      </li>
      <li class="nav-item">
          <a *ngIf="!isAuthenticated()" class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="tornei">Tornei</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="classifica">Classifica</a>
      </li>
      <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link" href="profilo">Profilo</a>
      </li>
      <li *ngIf="isAuthenticated()" class="nav-item">
        <button class="nav-link" (click)="doLogout()">Logout</button>
      </li>
    </ul>
</div>
</nav>
