<figure>
    <img class="titolo" src="assets/foto/about.jpg" alt="fotoPlayers"/>
    <div class="overlay flex-center rgba-blue-light">
    </div>
</figure>  
<div class="container">
    <h2 class="text-center">Chi siamo</h2>
    <p class="text-center">
        ChessHUB è nato dalla passione per gli scacchi e dalla volontà di creare uno spazio online dedicato agli amanti di questo affascinante gioco. Il nostro team è composto da appassionati di scacchi, sviluppatori e designer, uniti da un obiettivo comune: fornire agli utenti uno strumento completo per gestire e arricchire la propria esperienza scacchistica.
    </p>
    <img src="/assets/foto/iconAzienda.png" alt="iconAzienda" class="iconAzienda"/>
    <h2 class="text-center">Team di sviluppo</h2>
    <ul id="team">
        <li class="elemento">Davide Pirrò</li>
        <li class="elemento">Emanuele Galardo</li>
        <li class="elemento">Ilaria Raffaela Vasile</li>
        <li class="elemento">Salvatore Biamonte</li>
    </ul>
</div>
