.foto, img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 80%, rgba(255,255,255,1));
    color: white;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 65vh;
    width: 70%;
}
.elemento{
    list-style: none;
    text-align: center;
}