<figure>
    <img class="titolo" src="assets/foto/about.jpg" alt="fotoPlayers"/>
    <div class="overlay flex-center rgba-blue-light">
    </div>
</figure>  
<div class="container mb-5">
    <h2 class="text-center">Chi siamo</h2>
    <p class="text-center">
        ChessHUB è nato dalla passione per gli scacchi e dalla volontà di creare uno spazio online dedicato agli amanti di questo affascinante gioco. Il nostro team è composto da appassionati di scacchi, sviluppatori e designer, uniti da un obiettivo comune: fornire agli utenti uno strumento completo per gestire e arricchire la propria esperienza scacchistica.
    </p>
    <img src="/assets/foto/iconAzienda.png" alt="iconAzienda" class="iconAzienda"/>
    <h2 class="text-center">Team di sviluppo</h2>
    <div id="team">
        <p class="elemento m-0">Davide Pirrò</p>
        <p class="elemento m-0">Emanuele Galardo</p>
        <p class="elemento m-0">Ilaria Raffaela Vasile</p>
        <p class="elemento m-0">Salvatore Biamonte</p>
    </div>
</div>
