<h2>Chi siamo</h2>
<p>
    ChessHUB è nato dalla passione per gli scacchi e dalla volontà di creare uno spazio online dedicato agli amanti di questo affascinante gioco. Il nostro team è composto da appassionati di scacchi, sviluppatori e designer, uniti da un obiettivo comune: fornire agli utenti uno strumento completo per gestire e arricchire la propria esperienza scacchistica.
</p>
<h2>Team di sviluppo</h2>
<ul>
    <li>Davide Pirrò</li>
    <li>Emanuele Galardo</li>
    <li>Ilaria Raffaela Vasile</li>
    <li>Salvatore Biamonte</li>
</ul>
