<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (keypress.enter)="onSearch()">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="onSearch()">Search</button>
  </div>
</div>
<button type="submit"  class="btn btn-primary right" (click)="addTorneo()">Nuovo Torneo <fa-icon [icon]="faAdd" class="fa-sm"></fa-icon>
</button>
<br>

<br>
<p class="h3 rientro">Prossimi tornei</p>
<br>
<app-tornei-stato [stato]="'prossimo'"></app-tornei-stato>
<br>


