<div class="center">
  <form id="form" (ngSubmit)="onSubmit()"  class="modulo-form">
    <div class="h4 mt-5">Modifica password</div>
    <br>
    <br>
    <div class="mb-3 mt-2">
      <label for="oldpwd" class="form-label">Vecchia Password:</label>
      <input type="password" class="form-control dim" id="oldpwd" name="pswd">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Nuova Password:</label>
      <input type="password" class="form-control dim" id="pwd" name="pswd">
    </div>
    <div class="mb-3">
      <label for="rppwd" class="form-label">Ripeti Password:</label>
      <input type="password" class="form-control dim" id="rppwd">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
  </form>
</div>
