<div class="stats-grid">
    <div class="stat-item">
        <div class="card">
        <div class="card-body">
            <h4>Vittorie</h4>
            <p>123</p>
        </div>
        </div>
    </div>

    <div class="stat-item">
        <div class="card">
        <div class="card-body">
            <h4>Sconfitte</h4>
            <p>4</p>
        </div>
        </div>
    </div>

    <div class="stat-item">
        <div class="card">
        <div class="card-body">
            <h4>Patte</h4>
            <p>5</p>
        </div>
        </div>
    </div>

    <div class="stat-item">
        <div class="card">
        <div class="card-body">
            <h4>Vittorie tornei</h4>
            <p>6</p>
        </div>
        </div>
    </div>
</div>
<canvas #chart class="stats-chart"></canvas>
  