<figure>
  <img src="assets/foto/torneo.jpg" alt="fotoPlayers"/>
  <div class="overlay flex-center rgba-blue-light">
  </div>
</figure>
<div>
  <h1 class="titolo text-center fw-bold display-1 text-white">{{torneo?.nome}}</h1>
  <div class="container text-center">
    <p *ngIf="torneo?.stato == 'inCorso'">Il torneo è in corso</p>
    <p *ngIf="torneo?.stato == 'passato'">Il torneo concluso. Il vincitore è <a [href]="'/profiloPubblico?username='+torneo?.vincitore?.username">{{torneo?.vincitore?.username}}</a></p>
    <p *ngIf="torneo?.stato == 'prossimo'">Il torneo deve ancora iniziare: hai tempo fino al <span>{{torneo?.dataInizio | date:"dd/MM/yy" }}</span> per iscriverti</p>
    <p>Ci sono {{torneo?.numeroPartecipanti}} iscritti giocatori iscritti al torneo</p>
    <button *ngIf="torneo?.stato == 'prossimo' && flagRegistrato && !flagIscritto" (click)="iscrivimi()" class="btn btn-primary m-3">Iscriviti</button>
    <button *ngIf="torneo?.stato == 'prossimo' && flagRegistrato && flagIscritto" (click)="discrivimi()" class="btn btn-primary m-3">Disiscriviti</button>
    <p *ngIf="torneo?.stato == 'prossimo' && flagRegistrato && flagIscritto" >Sei iscritto a questo torneo</p>
    <button *ngIf="torneo?.stato == 'prossimo' && flagAdmin && flagPartite" (click)="generaTorneo()" class="btn btn-primary m-3">Inizia torneo</button>
    <button *ngIf="torneo?.stato == 'inCorso' && flagAdmin" (click)="chiudiTorneo()" class="btn btn-primary m-3">Chiudi Torneo</button>
    <p *ngIf="torneo?.stato == 'inCorso' && flagAdmin && flagErrore">non puoi chiudere il torneo: alcune partite devono ancora essere giocate</p>
    <div *ngIf="torneo?.stato != 'prossimo'">
      <h2 class="h2 text-center">Classifica del torneo</h2>
      <div>
        <div class="margine justify-content-center">
          <div class="my-3">
            <div class="mx-auto text-center w-80">
              <div class="row justify-content-center">
                <div class="col text-center h6">Posto</div>
                <div class="col text-center h6">Username</div>
                <div class="col text-center h6">Nazionalità</div>
                <div class="col text-center h6">Punteggio</div>
              </div>
              <app-row *ngFor="let user of utentiTorneo, let i=index" [utente]="user" [utenteAcceduto]="usernameUtente" [index]="i+1" [punteggi]="punteggiTorneo" (click)="visualizzaUtente(user)"></app-row>
            </div>
          </div>
        </div>
      </div>
      <h2 class="h2 text-center">Partite</h2>
      <div *ngIf="partiteTurno?.length">
        <div class="row justify-content-center">
          <button [ngClass]="{'disattivato':(turno<=0)}" (click) = "precedenteTurno()" title = "Precedente" class="btn btn-primary col-sm-2">Turno Precedente</button>
          <p class="col-sm-2">Turno {{turno + 1}}</p>
          <button [ngClass]="{'disattivato':(turno>=(this.partiteTurno!.length - 1))}" (click) = "prossimoTurno()" title = "Successivo" class="btn btn-primary col-sm-2">Turno Successivo</button>
        </div>
      </div>
        <div class="row justify-content-center margine">
          <app-partita-show class="col justify-content-center d-flex" *ngFor="let partita of partiteTurno![turno]" [partita]="partita" [seePrivacy]=false></app-partita-show>
        </div>
      <div *ngIf="!partiteTurno?.length">
        <p>Non ci sono partite</p>
      </div>
    </div>
  </div>
  <h2 class="h4 text-center">Luogo</h2>
  <div class="d-flex justify-content-center">
    <app-maps [torneo]="torneo" [showEntirely]="false" class="m-4"></app-maps>
  </div>
</div>
