
footer {
    height: 30px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    clear: both;
    margin-left: auto;
}

footer p {
    margin: 0;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
}
