<div>
    <footer>
        <div class="d-inline text-white rounded border mx-3">
            <a class="d-inline text-white" href="about">About</a>
        </div>
        <p class="mx-3"><em><a class="text-white" [href]="'mailto:' + email">{{ email }}</a></em> </p>
        <p class="mx-3"><em><a class="text-white" [href]="'tel:' + tel">{{ tel }}</a></em></p>
        <div class="mx-3">
            <a href="https://www.facebook.com/barricatecontrolagonzita" target="_blank"> 
                <i style="font-size: 24px;" class="fab fa-facebook-square"></i>
            </a>
            <a href="https://youtube.com/shorts/0PAmS5m1tF0" target="_blank">
                <i style="font-size: 24px;" class="fab fa-youtube-square"></i>
            </a>
            <a href="https://www.instagram.com/reel/Cz0ZvAFo3RS" target="_blank">
                <i style="font-size: 24px;" class="fa-brands fa-square-instagram"></i>
            </a>
        </div>
    </footer>
</div>

