<div [innerHTML]="pagina"></div>
<div>
    <h4>Ultime partite giocate</h4>
    <p *ngIf="partite?.length == 0">Nessuna partita giocata ancora</p>
    <app-partita-show *ngFor="let partita of partite" [partita]="partita"></app-partita-show>
</div>
<button *ngIf="!seguendo&&!richiestaInviata" type="button" class="btn btn-success" (click)="segui()">Invia Richiesta</button>
<button *ngIf="seguendo" type="button" class="btn btn-success" (click)="nonSeguire()">Segui già</button>
<button *ngIf="richiestaInviata" type="button" class="btn btn-success" (click)="nonSeguire()">Annulla Richiesta</button>
