<figure>
  <img class="titolo" src="assets/foto/profilo.jpg" alt="fotoPlayers"/>
  <div class="overlay flex-center rgba-blue-light">
  </div>
</figure>
<div class="container justify-content-center">
  <h1 class="text-center fw-bold display-1 text-white margine">Partita</h1>
  <div *ngIf = "custom && selezioneInCorso" class="justify-content-center text-center">
    <div class="text-center fw-bold">Importa partita da PGN</div>
    <div class="text-center"><input type="file" accept=".txt" (change)="importa($event)"></div>
    {{errorePGN}}
  </div>
  <div class="text-center justify-content-center mt-5 mb-3">
    <h2 class="d-inline-block mx-2">{{info["White"]}}<br>vs<br>{{info["Black"]}}</h2>
    <h4 class="text-center">{{info["Result"]}}</h4>
  </div>
  <div class="text-center justify-content-center mb-3">
    <p> <b>Evento</b>: {{info["Event"]}} - {{info["Round"]}}</p>
    <p> <b>Luogo</b>: {{info["Site"]}}</p>
    <p> <b>Data</b>: {{info["Date"]}}</p>
  </div>

  <div class="text-center row justify-content-around">
    <div class="text-center mt-4 mb-4 col-xl-2">
      <label class="fw-bold">Commento:</label>
      <div class="mb-3">
        <p>{{commentoAttuale}}</p>
      </div>
    </div>
    <div class="col text-center mb-4">
      <div id=board1></div>
    </div>
    <div id="formulario" class="col-xl-2 mb-4">
      <div class="row justify-content-center">
        <div class="col text-center colonne fw-bold">Turno</div>
        <div class="col text-center colonne fw-bold">Bianco</div>
        <div class="col text-center colonne fw-bold pad">Nero</div>
      </div>
      <div style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
        <div *ngFor="let mossa of mosse" class="row justify-content-center">
          <div class="riga col text-center">{{mossa[0]}}</div>
          <div (click)="goTo(mossa[0], 0)" class="riga col text-center clickCursor" [ngClass] = "{'selected': mossa[0] == n.toString() && nAttuale%2 == 1}">{{mossa[1]}}</div>
          <div (click)="goTo(mossa[0], 1)" class="riga col text-center clickCursor" [ngClass] = "{'selected': mossa[0] == n.toString() && nAttuale%2 == 0}">{{mossa[2]}}</div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center"> Auto Mode:
  <button id="automode" [ngClass]="{'btn-success': !automatic, 'btn-danger':automatic}" class="btn btn-primary" (click)="auto()">ON</button>
  </p>
</div>
<div class="text-center justify-content-center destra row mb-3">
  <button (click)="previousMove()" class="btn btn-primary col-sm-2 mx-1 mt-1 w-auto" >Mossa Precedente</button>
  <button (click)="nextMove()" class="btn btn-primary col-sm-2 mx-1 mt-1 w-auto" >Mossa Successiva</button>
</div>
<div class="text-center justify-content-center destra row mb-3">
  <button *ngIf= "!custom" class = "btn btn-primary col-sm-2 mx-1 mt-1 w-auto" (click)="scaricaPGN()">Scarica PGN</button>
  <button *ngIf= "!custom && admin && !locked && partita!.torneo!.id != -1" class="btn btn-primary col-sm-1 mx-1 w-auto" (click)="modifica()">Modifica</button>
  <button *ngIf= "!custom && (admin || proprietario) && !locked" class="btn btn-danger col-sm-1 w-auto mx-1" (click)="elimina()">Elimina</button>
</div>
