<h1> Partita </h1>

<label *ngIf = "custom && selezioneInCorso">Importa partita da PGN <input type="file" accept=".txt" (change)="importa($event)"></label>

<div>
  <h2>{{info["White"]}}</h2>
  <h3> VS </h3>
  <h2>{{info["Black"]}}</h2>
  <p> Evento: {{info["Event"]}} - {{info["Round"]}}</p>
  <p> Luogo: {{info["Site"]}}</p>
  <p> Data: {{info["Date"]}}</p>
</div>


<div id= formulario >
  <table id= formulario >
    <tr *ngFor="let mossa of mosse">
      <td id= n-formulario>{{mossa[0]}}</td>
      <td (click)="goTo(mossa[0], 0)">{{mossa[1]}}</td>
      <td (click)="goTo(mossa[0], 1)">{{mossa[2]}}</td>
    </tr>
  </table>
</div>


<div id = commento>
  <h3 id = titolo-commento> Commento: </h3>
  <p> {{commentoAttuale}} </p>
</div>

<div id = board></div>

<p> Auto Mode: 
<button id="automode" (click)="auto()">OFF</button>
</p>

<button (click)="previousMove()">"precedente"</button>
<button (click)="nextMove()">"successiva"</button>


