.riga {
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}
.riga:hover {
  background-color: #dcdcdc;
}

.utente{
  background-color: #999;
  transition: background-color 0.3s;
}
.utente:hover {
  background-color: #889;
}
.row{
  margin: 0;
  width:100%;
}

