<figure>
  <img src="assets/foto/partita.png" alt="fotoPlayers"/>
  <div class="overlay flex-center rgba-blue-light">
  </div>
</figure>
<div>
  <h1 class="titolo text-center fw-bold display-1 text-white">Partite</h1>
  <div class="container text-center">
    <button *ngIf="!autenticato()" class="btn btn-primary mt-2" (click) = "importaPartita()">Genera PGN</button>
    <button *ngIf="autenticato()" class="btn btn-primary mt-2" (click) = "salvaPartita()">Importa Partita</button>
    <button (click) = "visualizzaPartitaDaPgn()" class="btn btn-primary margine mt-2">Visualizza Partita da PGN</button>
  </div>
  <div>
      <h2 class="text-center mt-5">Ultime Partite Caricate</h2>
      <p *ngIf="partite.length == 0" class="text-center">Non ci sono partite caricate di recente</p>
      <div class="row justify-content-center riga">
        <app-partita-show class="col justify-content-center d-flex" *ngFor="let partita of partite" [partita]="partita" [seePrivacy]=true></app-partita-show>
      </div>
    </div>
</div>
