<br>
<br>
<div *ngIf="visualizzaMigliori">
  <p class="h3 rientro">Migliori giocatori di sempre</p>
  <br>
  <div class="row">
    <div class="col-lg-1 h5 primo">Posto</div>
    <div class="col-lg-3 h5">Nome</div>
    <div class="col-lg-3 h5">Cognome</div>
    <div class="col-lg-3 h5">Nazionalità</div>
    <div class="col-lg-2 h5">Punteggio</div>
  </div>
  <app-row *ngFor="let user of utentiMiglioriVisualizzati, let i=index" [utente]="user" [utenteAcceduto]="usernameUtente" [index]="i+1"></app-row>
  <br>
  <button class="btn btn-primary" (click)="load()">{{testo}}</button>
  <br>
  <a *ngIf="!visualizzaSettimana" href="/classifica">Torna alla pagina precedente</a>
  <br>
</div>
<div *ngIf="visualizzaSettimana">
  <p class="h3 rientro">Migliori giocatori della settimana</p>
  <br>
  <div class="row justify-content-center">
    <div class="col h5 text-center">Posto</div>
    <div class="col h5 text-center">Nome</div>
    <div class="col h5 text-center">Cognome</div>
    <div class="col h5 text-center">Nazionalità</div>
    <div class="col h5 text-center">Punteggio</div>
  </div>
  <app-row *ngFor="let user of utentiMiglioriSettimanaVisualizzati, let i=index" [utente]="user" [utenteAcceduto]="usernameUtente" [index]="i+1"></app-row>
  <br>
  <button class="btn btn-primary" (click)="loadWeek()">{{testo}}</button>
  <br>
  <a *ngIf="!visualizzaMigliori" href="/classifica">Torna alla pagina precedente</a>
</div>

