<h1>Profilo</h1>
<h2 th:text="'Profilo di ' + ${utente.username}"></h2>
<p th:text="'Nome: ' + ${utente.nome}"></p>
<p th:text="'Cognome: ' + ${utente.cognome}"></p>
<p th:text="'Nazionalità: ' + ${utente.nazionalita}"></p>
<p th:text="'Data di nascita: ' + ${utente.dataNascita}"></p>
<div>
    <h4 th:text="'I punteggi di ' + ${utente.username}"></h4>
    <div class="card">
        <p class="card-header">Punteggio settimanale</p>
        <p class="card-body" th:text="'questa settimana ha totalizzato ' + ${utente.punteggioSettimanale} + ' punti'"></p>
    </div>
    <div class="card">
        <p class="card-header">Punteggio totale</p>
        <p class="card-body" th:text="'ha totalizzato ' + ${utente.punteggio} + ' punti nella sua carriera su ChessHub'"></p>
    </div>
</div>
<p th:text="'Follower: ' + ${utente.follower}"></p>
