<h1 th:text="'Profilo di '+${utente.username}" class="text-center display-1 text-white mb-5 fw-bold" style="font-size:4rem;"></h1>
<div class="justify-content-center mt-5 mb-2">
    <p class="text-black fw-bold text-center" style="margin-top:30vh; font-size:20px">Dati Personali</p>
    <div class="row pt-5" style="margin: 0">
        <p th:text="'Nome'" class="col text-center fw-bold"></p>
        <p th:text="'Cognome'" class="col text-center fw-bold"></p>
        <p th:text="'Data di nascita'" class="col text-center fw-bold"></p>
        <p th:text="'Nazionalità'" class="col text-center fw-bold"></p>
    </div>
    <div class="row" style="margin: 0">
        <p th:text="${utente.nome}" class="col text-center"></p>
        <p th:text="${utente.cognome}" class="col text-center"></p>
        <p th:text="${dataNascita}" class="col text-center"></p>
        <p  class="col text-center"><img th:src="'data:image/png;base64,' + ${bandiera}" th:alt="${utente.nazionalita}"></p>
    </div>
</div>
<div>
    <h4 class="pt-3 text-center mt-2" th:text="'I punteggi di ' + ${utente.username}"></h4>
    <div class="row justify-content-center mt-5" style="margin-right:0; margin-left:0;">
        <div class="card col-sm-4 pb-4 pt-2" style="width: 12rem; position: relative; margin: 0vw 2vw;">
            <p class="card-title h3 text-center">Punteggio settimanale</p>
            <p class="card-subtitle text-center" th:text="'questa settimana ha totalizzato ' + ${utente.punteggioSettimanale} + ' punti'"></p>
        </div>
        <div class="card col-sm-4 pb-4 pt-2" style="width: 12rem; position: relative; margin: 0vw 2vw;">
            <p class="card-title h3 text-center">Punteggio totale</p>
            <p class="card-subtitle text-center" th:text="'ha totalizzato ' + ${utente.punteggio} + ' punti nella sua carriera su ChessHub'"></p>
        </div>
    </div>
</div>
<h5 th:if="${utente.admin}" class="text-center mt-4">Utente Admin</h5>
<p class="text-center mt-2"><a th:href="@{/amici(utente=${utente.username})}" th:text="'Follower: ' + ${utente.follower}" class="btn btn-primary" style="width:20vw"></a></p>
